# ===== binaria =====
main
out
*.o
*.a

# ===== build / generated =====
_build/
tests/_build/

# ===== codegen outputs =====
out.c

# ===== playground / scratch =====
playground/

# ===== tmp / editor =====
*.swp
*.swo
*.DS_Store

# ===== lexer / parser tmp =====
tests/lexer/tmp_build/